html {
    font - family: "Mulish", sans - serif;
    box - sizing: border - box;
}

body {
    max - width: 1140 px;
    margin: 0 auto;
}

header {
    display: flex;
    padding - top: 10 px;
    justify - content: space - between;
}

/* phone */
@
media(max - width: 768 px) {
    .main - bg {
            width: 90 % ;
        }
        .left,
        .right {
            width: 20 % ;
        }
        .leftnright {
            top: 30 px;
        }
        .counter - header {
            font - size: 12 px;
        }
        .counter - number {
            font - size: 16 px;
        }
        .counter {
            padding: 5 px 10 px;
        }
        .header - logo {
            display: block;
            width: 35 % ;
            height: 35 % ;
            margin - top: 20 px;
        }
        .nhang {
            top: 20 px;
        }
}

/* tablet */
@
media(min - width: 769 px) {
        .leftnright {
            top: 100 px;
        }
        .counter {
            padding: 5 px 20 px;
        }
        .nhang {
            top: 50 px;
        }
    }
    .main - section {
        display: flex;
        overflow: hidden;
        flex - direction: column;
        margin - top: 50 px;
        align - items: center;
    }

.counter {
    background - color: #df4034;
    color: white;
    display: flex;
    align - items: center;
    font - size: 14 px;
    border - radius: 10 px;
}

.counter - number {
    font - size: 36 px;
    font - weight: 700;
    margin - right: 5 px;
}

.counter - header {
    font - size: 16 px;
}

.main - bg {
    display: block;
    position: relative;
    margin: 0 auto;
}

.gate {
    position: relative;
    display: flex;
    flex - direction: column;
    align - items: center;
}

.step - 1 {
    text - align: center;
    margin - top: 30 px;
    margin - bottom: 50 px;
}

.step - 1 > p {
    font - size: 24 px;
}

.item - list {
    display: flex;
    justify - content: space - between;
    max - width: 488 px;
    width: 100 % ;
}

.item - holder {
    border: 1 px solid gray;
    border - radius: 7 px;
    width: 87 px;
    height: 87 px;
    background - position: center;
    background - repeat: no - repeat;
}

.item - holder: hover {
    border: 1 px solid# df4034;
    box - shadow: 0 px 0 px 15 px# e03d34;
}

.item - holder - 1 {
    background - image: url("./img/spoon.png");
}

.item - holder - 2 {
    background - image: url("./img/pipe.png");
}

.item - holder - 3 {
    background - image: url("./img/mango.png");
}

.step - 2,
    .step - 3 {
        display: flex;
        flex - direction: column;
        margin: 35 px auto;
        width: 100 % ;
        max - width: 488 px;
    }

.step - 3 {
    align - items: center;
}

.step - 2 > textarea {
    height: 93 px;
    padding: 10 px;
    box - shadow: 0 px 5 px 20 px grey;
    border - radius: 10 px;
    border: 0;
    font - size: 16 px;
    font - family: "Mulish",
    sans - serif;
    box - shadow: 0 px 5 px 20 px grey;
}

.step - 2 > button {
    height: 43 px;
    background - color: #df4034;
    color: white;
    font - weight: 500;
    cursor: pointer;
    font - size: 20 px;
    border: 1 px solid;
    width: 98 % ;
    border - radius: 5 px;
    margin: 10 px auto;
}

.step - 3 > div {
    border: 1 px solid# e03d34;
    box - shadow: 0 px 0 px 15 px# e03d34;
    border - radius: 10 px;
    padding: 17 px 23 px;
}

.step - 3 > button {
    padding: 8 px 16 px;
    border: 1 px solid# e03d34;
    color: #e03d34;
    font - weight: 500;
    border - radius: 5 px;
    background - color: white;
    font - size: 20 px;
    margin: 15 px auto;
}

.step - 3 > button: hover {
    background - color: #e03d34;
    color: white;
    transition: 0.3 s ease;
    cursor: pointer;
}

.item - on - disk {
    display: block;
    position: absolute;
    top: -170 px;
    z - index: 10;
    width: 150 px;
}

.hidden {
    display: none;
}

.block {
    display: block;
}

.leftnright {
    position: absolute;
    display: flex;
    justify - content: space - between;
    margin: 0 auto;
    width: 100 % ;
}

.nhang {
    position: absolute;
    width: 50 % ;
    margin: 0 auto;
}